.princ_fin_saida{
    width: auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 22rem;
}


.bot_Unicom{
    background: transparent;  /* Remove o fundo branco */
  border: none;             /* Remove a borda padrão do botão */
  outline: none;            /* Remove o contorno de seleção */
  color: #C05B35;             /* Deixa o texto branco para contrastar com o fundo */
  font-size: 1.5rem;          /* Tamanho da fonte */
  cursor: pointer;          /* Transforma o ponteiro do mouse na mãozinha */
  padding: 0.5rem 1rem;      /* Área de clique agradável */
  font-family: inherit; 
}

.bot_notas{
    background: transparent;  /* Remove o fundo branco */
  border: none;             /* Remove a borda padrão do botão */
  outline: none;            /* Remove o contorno de seleção */
  color: #C05B35;             /* Deixa o texto branco para contrastar com o fundo */
  font-size: 1.5rem;          /* Tamanho da fonte */
  cursor: pointer;          /* Transforma o ponteiro do mouse na mãozinha */
  padding: 0.5rem 1rem;      /* Área de clique agradável */
  font-family: inherit; 
}

.bot_fin_saida_Unicom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
    border: solid 2px #C05B35;
    border-radius: 10px;
}

.bot_fin_saida_notas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
    border: solid 2px #C05B35;
    border-radius: 10px;
}