.princ_orc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.princ_orc .div_sup {
  width: 100%;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  display: flex;
  gap: 4.2rem;
  box-sizing: border-box;
}

.princ_orc .div_bot_novo {
  height: 4rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 2px #C05B35;
}

.princ_orc .bot_novo {
  background: transparent;
  border: none;
  outline: none;
  color: #C05B35;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: inherit;
  width: 100%;
  height: 100%;
}

.princ_orc .div_pesq {
  height: 4rem;
  width: 30rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: solid 2px #C05B35;
}

.princ_orc .input_pesq {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: text;
  padding: 0.5rem 1rem;
  font-family: inherit;
  width: 100%;
  color: #333;
}

.princ_orc .div_lista_orc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  box-sizing: border-box;
}