.princ_proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div_sup {
  width: 100%;
  display: flex;
  padding: 2.5rem 2.5rem;
  gap: 2rem;
}

.div_bot_novo {
  height: 4rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 2px #C05B35;
}

.bot_novo {
  background: transparent;
  border: none;
  outline: none;
  color: #C05B35;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: inherit;
  width: 100%;
  height: 100%;
}

.div_pesq {
  height: 4rem;
  width: 30rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: solid 2px #C05B35;
}

.input_pesq {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: text;
  padding: 0.5rem 1rem;
  font-family: inherit;
  width: 100%;
  color: #333;
}

.div_lista_proj {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.div_proj {
  height: 4rem;
  width: 95%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: solid 2px #C05B35;
  cursor: pointer;
}

.text_proj {
  color: #C05B35;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}